/* Coolors Exported Palette - coolors.co/004e64-00a5cf-9fffcb-25a18e-7ae582 */

/* HSL */
$color1: hsla(193%, 100%, 20%, 1);
$color2: hsla(192%, 100%, 41%, 1);
$color3: hsla(148%, 100%, 81%, 1);
$color4: hsla(171%, 63%, 39%, 1);
$color5: hsla(124%, 67%, 69%, 1);

/* RGB */
$color1: rgba(0, 78, 100, 1);
$color2: rgba(0, 165, 207, 1);
$color3: rgba(159, 255, 203, 1);
$color4: rgba(37, 161, 142, 1);
$color5: rgba(122, 229, 130, 1);