body{
    font-family: Montserrat;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

.main-header{
    position: fixed;
    background-color: rgba(0,0,0,0.25);
    height: 50px;
    width: 100%;
    z-index: 9999;
}

.main-nav{
    font-size:1.5em;
    height: 50px;
    line-height: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.main-nav a{
    float:right;
}

.main-nav a .logo{
    height:50px;
}

.main-nav a{
    color: white;
    text-decoration: none;
    margin-right: 50px;
}

a.nav-a-left{
    float: left;
}

.background-container{
    position: absolute;
    top: 0;
    height: 140vh;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 72%, 0% 100%);
    background-color: #23E3AD; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #23E3AD, #22E37F); /* Standard syntax (must be last) */
}

.background-icon-section3{
    height: 80vh;
    width: 40%;
    border-radius: 2.5%;
    transform: rotate(-13deg);
    position: absolute;
    top: 165vh;
    left: -15%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #23E3AD; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #23E3AD, #22E37F); /* Standard syntax (must be last) */
}

.background-icon-section4{
    height: 80vh;
    width: 40%;
    border-radius: 2.5%;
    transform: rotate(-13deg);
    position: absolute;
    top: 260vh;
    right: -10%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: #23E3AD; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #23E3AD, #22E37F); /* Standard syntax (must be last) */
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.container-small{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 50vh;
}

.text-div-align-center{
    max-width: 50%;
}

#section2 .square{
    height: 35vh;
    width: 35vh;
    background-color: white;
    border-radius: 2.5%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#section2{
    justify-content: space-between;
}

footer{
    background-color: #FCFCFC;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer h1{
    margin-top: 80px;
}

a.download{
    height: 40px;
    width: 150px;
    background-color: rgba(0,0,0,0);
    color: #23E3AD;
    float: left;
    margin: 0 0 0 10%;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 800;
    border: none;
}

a.download img{
    max-width: 100%;
}

.text-div-align-center a.download{
    margin: 0 10% 0 0;
    background-color: rgba(0,0,0,0);
    color: #23E3AD;
}

a.download:nth-child(1){
    float: right;
    margin: 0 10% 0 0;
}

.text-white{
    color: white;
}

#section3{
    justify-content: flex-end;
}